<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Brew Coffee Settings</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1>Settings</h1>

    <div class="settingsC">
      <ion-label>Dark Mode</ion-label>
      <!-- TODO: -->
      <ion-toggle>Dark Mode</ion-toggle>
    </div>

    <div class="credits">
      <ion-label>Developed with 💚by Kautilya Save</ion-label>
      <hr />
      <ion-label>
        Designed by <ion-icon name="brush"></ion-icon> Kuntal Surwade
      </ion-label>
    </div>

    <div>
      <ion-button [href]="gitCodeLink">
        <ion-icon slot="start" name="logo-github"></ion-icon>
        Source Code
      </ion-button>
    </div>
    <div>
      <ion-button [href]="linkedInLink">
        <ion-icon name="logo-linkedin"></ion-icon>
        LinkedIn
      </ion-button>
    </div>
  </div>
</ion-content>
