@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark&display=swap");

html {
  background: #e9ca80;
  color: red;
  /* max-width: 500px; */
  /* float: left; */
}

body {
  place-items: center;
}

h1,
h2,
h3 {
  text-align: center;
  color: #292929;
  font-family: "Squada One", cursive;
}

/* For Desktop */
@media only screen and (min-width: 401px) {
  .gameImg {
    padding: 10px 10px 10px 10px !important;
    /* width: 200px !important;
    padding: 10px;
    border: 2px solid red !important; */
  }
  /* .gameImg img {
    width: 200px !important;
    padding: 100px;
    border: 2px solid red !important;
  } */
}

/* For Mobile */
@media only screen and (max-width: 400px) {
  .gameImg {
    /* width: 100%; */
    padding: 0px 0px 0px 0px;
  }

  .info {
    padding: 0rem !important;
  }
}

/* .container is the class name for div tag */
.container {
  background-color: rgb(204, 204, 216);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1em;
}

.container .card {
  align-items: center;
  display: inline-block;
}

.container .card .info {
  padding: 1rem;
}

.container .card img {
  width: 100%;
}

:root {
  --randomAxis: 10px;
}

.container .card:hover {
  transition: transform 1s;
  /* transform: translateY(-10px); */
  transform: translateY(var(--randomAxis));
}

/* .container .firstDiv {
  display: grid;
  grid-template-columns: 1fr, 1fr;
} */

/* .container .secondDiv {
  display: grid;
  grid-template-columns: 1fr, 1fr;
} */

html[theme="DarkMode"] {
  background: black;
  color: white;
}

h1 {
  color: blue;
}

p {
  font-size: 16px;
}

#paraText2 {
  font-size: 18px;
  color: magenta;
}

#games {
  /* grid-column: inherit; */
  /* display: flex; */
  margin: 10px 10px 10px 10px;
}

li {
  padding: 10px 10px 10px 10px;
}

li ::marker {
  display: none;
}

ul #games {
  font-size: 12;
}

.gameImg {
  /* height: 240px;
  width: 180px; */
  border-radius: 15px;
  padding: 0px;
  background-image: linear-gradient(green, orange);
  text-align: center;
}

.gameImg:hover {
  box-shadow: 10px 10px 22px 0px rgba(76, 189, 83, 1);
}

/* .gameImg:hover {
  box-shadow: 10px 10px 22px 0px rgba(76, 189, 83, 1);
} */

/* Span class has inline More on this https://stackoverflow.com/a/25477796 */
/* Learn one more thing about inline & block elements */
.gameTitle {
  /* display: -webkit-box; */
  display: block;
  color: green;
  font-family: "Palanquin Dark", sans-serif;
}

.buyG {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: greenyellow 3px solid;
  background-image: linear-gradient(rgb(0, 255, 16), black);
}

.switch {
  font-size: 18px;
  font-weight: bold;
  color: grey;
}

.gradientRect1 {
  position: absolute;
  height: 150px;
  width: 50%;
  float: left;
  /* background-image: yellow; */
  background-image: linear-gradient(yellow, black);
}

.gradientRect2 {
  position: relative;
  height: 150px;
  width: 50%;
  float: right;
  /* background-image: yellow; */
  background-image: linear-gradient(green, orange);
}

.cellStruct {
  clear: both;
  position: relative;
  height: 150px;
}

.boxShadow {
  /* position: absolute; */
  height: 150px;
  width: 100px;
  padding: 15px;
  background-color: aquamarine;
  box-shadow: 10px 10px;
  clear: both;
}

/* Transform 3D Example */

.Dcard {
  /* padding: 10px; */
  width: 100%;
  display: grid;
  background-color: rgb(223, 229, 192);
  transition: transform 3s;
}

.card_wrap {
  justify-items: center;
  text-align: center;
  /* position: relative; */
  background: grey;
  transition: transform 3s;
  transform-style: preserve-3d;
  transform: translateZ(1200px);
}

.Dcard:hover .card_wrap {
  /* background-color: springgreen; */
  transform: rotateY(-90deg);
}

.card_oneside,
.card_otherside {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
}

.card_oneside {
  background: yellow;
  /* transform: rotateX(0.25turn); */
}

.card_otherside {
  background: blue;
  transform: rotateY(0.25turn);
}
.card_otherside:hover {
  transition-delay: 2s;
  transition: transform 2s;
  transform: translateY(100px);
}
.card_title {
  background: springgreen;
  transform: translateZ(200px);
}
.card_subtitle {
  transition: transform 2s;
  /* transform: translateY(100px); */
}
