<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <ion-card>
    <div class="inputField">
      <!-- Input with placeholder -->
      <ion-input
        placeholder="Enter your Artist"
        [(ngModel)]="artistName"
      ></ion-input>
    </div>
    <div class="inputField">
      <!-- Input with placeholder -->
      <ion-input
        placeholder="Enter your Song Name"
        [(ngModel)]="artistSongName"
      ></ion-input>
    </div>
    <!-- <div class="inputButton"> -->
    <!-- <ion-grid> -->
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="onClick()">
          Search
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="onClick()">
          Reset
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- </ion-grid> -->
    <!-- </div> -->
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Artist:
        {{ artistName }}
      </ion-card-subtitle>
      <ion-card-title> Song: {{ artistSongName }} </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-text color="primary">
    <h1>Song Lyrics</h1>
    <pre margin="5px">
  {{ songLyrics }} 
  </pre
    >
  </ion-text>
</ion-content>
