/* App CSS file */

body {
  background-color: #848185;
}

.social {
  margin: 0;
  /* display: block; */
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

.social li a {
  color: #fff;
}

.social li a:hover {
  color: #11abb0;
}

/* Kautilya CSS Style Sheet */

h1,
h2,
h3,
h4,
h5 {
  color: slategray;
}

/* Setting Red Dead banner */
.banner {
  height: 300px;
  background-image: url("../assets/red_dead_r_2_banner.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header {
  background-color: #509dbb;
}

nav {
  color: red;
}

a {
  color: #666;
  /* Devil 666 Snip snip snip (Pusha T diss to Drake) */
}

a:hover {
  color: #680;
  text-decoration: none;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
/* nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
} */

nav {
  max-width: 200px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding: 15px;
}

/* Style the content */
main {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 4;
  background-color: #f1f1f1;
  padding: 10px;
}

aside {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 1;
  background-color: #b88c8c;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

.postComponent {
  background-color: rgb(219, 216, 216);
  padding: 10px;
  text-decoration: none;
  /* font-size: 20em; */
}

.postComponent .title {
  background-color: rgb(219, 216, 216);
  padding: 10px;
  font-size: 1.5rem;
}

.postComponent .date {
  background-color: rgb(219, 216, 216);
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
}

.postComponent .summary {
  background-color: rgb(219, 216, 216);
  padding: 10px;
  font-size: 1rem;
}

.postComponent .body {
  background-color: rgb(219, 216, 216);
  padding: 10px;
  font-size: 1rem;
}

.postComponent .link {
  background-color: rgb(219, 216, 216);
  padding: 10px;
  font-size: 1rem;
}

/* Fav green color */
.sensehack {
  color: #63d913;
}
