<ion-header>
	<ion-toolbar>
		<ion-title>
			Kautilya
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="centerKS">
		<div class="button1">
			<span>Kautilya</span>
		</div>
		<div class="button2">
			<ion-button color="dark" (click)="buttonPress()">Dark</ion-button>
		</div>
		<div class="button3">
			<p>Happy Diwali!</p>
		</div>
	</div>

	<ion-button color="light" (click)="goToTelevision()">Television</ion-button>

	<!-- Checkboxes in a List -->
	<ion-list>
		<ion-item *ngFor="let entry of moviesWatched">
			<ion-label>{{ entry.val }}</ion-label>
			<ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
		</ion-item>
	</ion-list>
</ion-content>
