<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ this.artistName }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <h1 center>Sensehack</h1>

  <ion-card>
    <div class="inputField">
      <!-- Input with placeholder -->
      <ion-input
        placeholder="Enter your Artist"
        [(ngModel)]="artistName"
      ></ion-input>
    </div>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="onClick()">
          Search
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <div *ngIf="this.artistData">
    <ion-card>
      <img [src]="this.artistData.strArtistFanart" />
      <!-- <ion-img [src]="this.artistData.strArtistFanart"></ion-img> -->
      <ion-card-header>
        <ion-card-subtitle>
          Artist:
          {{ this.artistData.strArtist }}
        </ion-card-subtitle>

        <ion-card-title> Style: {{ this.artistData.strStyle }} </ion-card-title>
      </ion-card-header>

      <ion-text color="primary">
        <h1>Biography</h1>
        {{ this.artistData.strBiographyEN }}
      </ion-text>

      <ion-img [src]="this.artistData.strArtistFanart2"></ion-img>
      <ion-img [src]="this.artistData.strArtistFanart3"></ion-img>

      <ion-list>
        <ion-item>
          <ion-label>Genre: {{ this.artistData.strGenre }} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Website: {{ this.artistData.strWebsite }} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Born Year: {{ this.artistData.intBornYear }} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>FanArt {{ this.artistData.strArtistFanart }} </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Label {{ this.artistData.idLabel }} </ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
