.img_cen {
  display: grid;
  /* margin-left: auto;
  margin-right: auto;
  width: 50%; */
  position: relative;
  width: 50%;
  height: 50%;
  align-self: center;
  margin: auto;
  justify-self: center;
}

img {
  width: auto;
  height: auto;
  margin: auto;
}
