<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <ion-card>
          <img
            src="https://postmediacanoe.files.wordpress.com/2018/05/trump1000getty25.jpg"
            alt=""
            srcset=""
          />
          <ion-card-header>
            <ion-card-subtitle>The classic Douchebag</ion-card-subtitle>
            <ion-card-title>Donald Trump </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <app-president label="Kautilya"></app-president>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
