<ion-header>
	<ion-toolbar>
		<ion-title>
			Tab One
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-button href="./television">
		Television Href
	</ion-button>

	<ion-button (click)="onClick()">
		Television Click
	</ion-button>
	<br />
	<ion-text>
		Notice if we use href linking, it goes blank screen for a while and also
		doesn't have back button. I reckon it does that due to Ionic just
		intercepting the router page call and not adding its own smooth transitions
		like it does in Navigation stack or using proper ionic angular routing!
	</ion-text>

	<br />
	<a routerLink="/television">RouterLink</a>
</ion-content>
