<!-- <ion-header>
  <ion-toolbar>
    <ion-title>coffeeView</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="arrow-back"></ion-icon>
      <ion-icon name="cafe"></ion-icon>
      <ion-icon name="add"></ion-icon>
      <ion-icon name="people"></ion-icon>
      <ion-icon name="arrow-round-forward"></ion-icon>
      <ion-icon name="calculator"></ion-icon>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>Yo Welcome to coffee results screen</ion-text>

  <ion-card class="coffee_data" *ngIf="coffeeData" class="ion-text-center">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12">
          <h3>Coffee Units:</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label class="custom_label">
            Coffee : {{ coffeeData.coffeeNative | number:'.2' }}tbsp
          </ion-label>
        </ion-col>

        <br />
        <ion-col size="12">
          <ion-label class="custom_label">
            Water : {{ coffeeData.waterPeople }}ml
          </ion-label>
        </ion-col>

        <hr />
        <ion-col size="12">
          <ion-label class="total_coffee">
            Total Brewed Coffee
            <br />
            <span>{{ coffeeData.totalCoffee | number }}ml</span>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-button (click)="openApp('starbucks')">
    Starbucks
  </ion-button>

  <ion-button (click)="openApp('dunkin')">
    Dunkin
  </ion-button>
  <ion-button (click)="openApp('mcdonalds')">
    Mcdonalds
  </ion-button>

  <div *ngIf="appDisplayMsg.length > 0" class="errorCard">
    <ion-card>
      {{ appDisplayMsg }}
      <span>{{ errorMsg }} </span>
      <ion-button [href]="gitCodeLink">
        Report it!
      </ion-button>
      <ion-button href="mailto:kautilyasave@gmail.com">
        Email Me!
      </ion-button>
    </ion-card>
  </div>
</ion-content>
