@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans|Roboto|Source+Sans+Pro|Palanquin+Dark|Squada+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,700|Source+Sans+Pro&display=swap");
head,
body {
  background: #81a035;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (12)[1fr];
      grid-template-rows: repeat(1fr, 12);
      grid-template-areas: "gHeader" "gIntro" "gIntro" "gAboutMe" "gWork" "gEdu" "gSkills" "gFooter";
  gap: 10px;
  margin: 0.5vh;
  place-self: center;
  text-align: center;
}

h2 {
  font-family: "Palanquin Dark", sans-serif;
  text-align: center;
  justify-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1/1;
  padding: 10px;
  font-size: 3em;
}

.centerContent {
  place-self: center;
  text-align: center;
}

#hideMe {
  -webkit-animation: hideAnimation 0s ease-in 3s forwards;
          animation: hideAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hideAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0.5;
  }
}

@keyframes hideAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0.5;
  }
}

/* Global For Mobile */
/* Global For Tablet */
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: gHeader;
  background: #777777;
  padding: 0px;
  width: 100%;
  z-index: 150;
}

.header ul li {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 5px;
}

.header ul li a {
  color: #ebebeb;
}

.header ul li a:hover {
  color: #414141;
}

#intro {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: gIntro;
  background: #3f8e2f;
}

#intro .introH1 {
  padding: 10px;
  font-size: 3rem;
  font-family: 'Source Sans Pro', sans-serif;
}

#intro .introH1 h1 {
  font-weight: 900;
}

#intro .introText {
  padding: 10px;
  font-size: 1.25rem;
}

#intro .introText .nakama {
  color: #d9f09f;
}

#intro .social li {
  display: inline-block;
  margin: 0px;
  padding: 5px;
}

#intro .social li a {
  color: #abc863;
}

#intro .social li a:hover {
  color: #414141;
}

#about-me {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: gAboutMe;
  background: #a43641;
  height: auto;
}

#about-me h2 {
  color: #cd6670;
  font-size: 4em;
}

#about-me .about-me-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  -ms-grid-rows: (minmax(200px, auto))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(200px, auto));
      grid-template-areas: "aboutTxt aboutTxt aboutAvt" "aboutTxt aboutTxt aboutDetails";
  gap: 10px;
  /* For Tablet */
  /* For Mobile */
}

#about-me .about-me-grid .aboutText {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: aboutTxt;
  place-self: center;
  padding: 30px;
  font-size: 1.25rem;
  color: #520008;
}

#about-me .about-me-grid .aboutText .download {
  width: 58.33333%;
}

#about-me .about-me-grid .aboutText .download .button {
  margin-top: 6px;
  background: #444;
}

#about-me .about-me-grid .aboutAvatar {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aboutAvt;
  padding: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  width: minmax(150px, 250px);
}

#about-me .about-me-grid .aboutAvatar img {
  width: 100%;
  border-radius: 40px;
}

#about-me .about-me-grid .details {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: aboutDetails;
  display: -ms-grid;
  display: grid;
  padding: 10px 0px 10px 0px;
  -ms-flex-line-pack: center;
      align-content: center;
}

#about-me .about-me-grid .details span {
  display: inline-block;
  padding: 10px 0px 10px 0px;
}

#about-me .about-me-grid .details .email {
  place-self: center;
}

#about-me .about-me-grid .details .phone {
  place-self: center;
}

@media only screen and (max-width: 600px) {
  #about-me .about-me-grid {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "aboutTxt aboutTxt" "aboutAvt aboutDetails";
    width: 100%;
    color: yellow;
  }
  #about-me .about-me-grid .aboutAvatar {
    place-self: start;
  }
  #about-me .about-me-grid .details .email {
    place-self: start;
  }
  #about-me .about-me-grid .details .phone {
    place-self: start;
  }
}

@media only screen and (max-width: 400px) {
  #about-me .about-me-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "aboutAvt" "aboutTxt" "aboutDetails";
    color: greenyellow;
    width: 100%;
  }
  #about-me .about-me-grid .aboutAvatar img {
    width: 80%;
  }
  #about-me .about-me-grid .details .email {
    place-self: center;
  }
  #about-me .about-me-grid .details .phone {
    place-self: center;
  }
}

#work {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: gWork;
  background: #832b64;
}

#work .workGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

#work .workGrid .workHeader {
  padding: 0px 20px;
  color: #c583ae;
}

#work .workGrid .workPosition {
  padding: 5px 20px;
  color: #a45187;
}

#work .workGrid .workDescription {
  color: #42002b;
  padding: 30px;
}

#edu {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: gEdu;
  background: #3f8e2f;
  color: #99d58d;
}

#edu .eduGrid {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: (minmax(18rem, 5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(18rem, 5fr));
  gap: 10px;
}

#edu .eduGrid h2 {
  padding-bottom: 15px;
}

#edu .eduGrid .eduHeader {
  padding: 0px 20px;
  color: #99d58d;
}

#edu .eduGrid .eduQualification {
  padding: 5px 20px;
  color: #67b158;
}

#edu .eduGrid .eduDescription {
  padding: 15px;
  color: #216a12;
}

#edu .eduGrid3 {
  padding: 0% 15%;
  color: #99d58d;
}

#edu .eduGrid3 .eduQualification {
  color: #67b158;
}

#edu .eduGrid3 .eduDescription {
  padding: 5% 10%;
  color: #216a12;
}

#skills {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: gSkills;
  background: #d9f09f;
}

#skills .skillsGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18rem, 5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(18rem, 5fr));
}

#skills .skillsGrid h3 {
  color: #abc863;
  padding: 5%;
}

#skills .skillsGrid .skillsTech {
  padding: 10px;
}

#skills .skillsGrid .skillsTech .swift {
  width: 80%;
}

#skills .skillsGrid .skillsTech .html {
  width: 70%;
}

#skills .skillsGrid .skillsTech .java {
  width: 50%;
}

#skills .skillsGrid .skillsTech .python {
  width: 50%;
}

#skills .skillsGrid .skillsTech .ux {
  width: 60%;
}

#skills .skillsGrid .skillsTech .objectiveC {
  width: 50%;
}

#skills .skillsGrid .skillsSoft {
  padding: 10px;
}

#skills .skillsGrid .skillsSoft .documentation {
  width: 70%;
}

#skills .skillsGrid .skillsSoft .tWriter {
  width: 70%;
  -webkit-animation: tWriter 2s ease;
          animation: tWriter 2s ease;
}

#skills .skillsGrid .skillsSoft .photography {
  width: 80%;
}

#skills .skillsGrid .skillsSoft .gaming {
  width: 70%;
}

#skills .skillsGrid .skillsSoft .automation {
  width: 50%;
}

#skills .skillsGrid .skillsSoft .design {
  width: 50%;
}

@-webkit-keyframes tWriter {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}

@keyframes tWriter {
  0% {
    width: 0px;
  }
  100% {
    width: 70%;
  }
}

#projects {
  grid-area: gProjects;
  background: #f6a3ab;
  display: none;
}

#hobbies {
  grid-area: gHobbies;
  background: #c583ae;
  display: none;
}

#contact-us {
  grid-area: gContactUs;
  background: #0c4700;
  display: none;
}

#footer {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: gFooter;
  background: #520008;
}

#footer h2 {
  font-size: 2em;
}

#footer ul li {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 5px;
}

#footer ul li a {
  color: #ebebeb;
}

#footer ul li a:hover {
  color: #414141;
}

ul {
  list-style: none;
}

.bar-back-grey {
  background-color: #abc863;
  border-radius: 5px;
  margin-bottom: 20px;
}

.bar-center {
  text-align: start;
  display: inline-block;
  width: auto;
  display: block;
  width: 100%;
}

.bar-container {
  text-align: start;
  height: 6vh;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  background: #5b7814;
}

a:link {
  color: #13122f;
}

/* normal link */
a:visited {
  color: #50afe5;
}

/* visited link */
a:hover {
  color: #da7070;
}

/* mouse over link */
a:active {
  color: #fe0000;
}

/* selected link */
/*# sourceMappingURL=index.css.map */