// CSS Variables

// Custom Color Variables
$ksBlack : rgb(17, 17, 17);
$ksDarkBlack : rgb(0, 0, 0);
$ksLightBlack : rgb(36, 36, 36);
$ksGray : rgb(85, 85, 85);
$ksDarkGray : rgb(65, 65, 65);
$ksLightGray : rgb(119, 119, 119);
$ksLightWhite : rgb(175, 175, 175);
$ksWhite : rgb(235, 235, 235);

// Primary Colors

$primaryColor1 : rgb(25, 106, 25);
$primaryColor2 : rgb(32, 0, 128);
$primaryColor3 : rgb(126, 128, 0);
$primaryColor4 : rgb(128, 55, 0);
$primaryColor5 : rgb(128, 0, 23);

// Media Queries Pixels Size
$widthMobile : 400px;
$widthTablet : 600px;
$widthNormalDesktop : 1200px;
$widthQuadDesktop : 1440px;
$widthUltraWideDesktop : 2000px;

// Responsive Grid Sizes
$responsiveSmallColumn : 15rem;
$responsiveMediumColumn : 18rem;
$responsiveLargeColumn : 22rem;



// Custom Sensehack Variables
$isSectionHidden : none;


// Constant Variables Mobile & Desktop
$responsiveMQImgWidth : 50%;
$responsiveMQColWidth : 50%;
$responsiveMQHeadingWidth : 40%;
$responsiveMQTextWidth : 40%;
$responsiveMQPaddingWidthY : 0%;
$responsiveMQPaddingWidthX : 40%;
$responsiveMQMarginWidth : 40%;
$responsiveMQGapWidth : 40%;






// Responsive Percents
$percentNone: 0%;
$percentSmall : 5%;
$percentMedium : 10%;
$percentLarge : 15%;
$percentExtraLarge : 20%;

// Pixel Constants
$pixelNone : 0px;
$pixelSmall : 5px;
$pixelMedium : 10px;
$pixelLarge : 15px;
$pixelExtraLarge : 20px;

// Font Size
$fontExtraSmaller : 0.25rem;
$fontSmall : 0.5rem;
$fontSmallerMedium : 0.75rem;
$fontMedium : 1.0rem;
$fontBiggerMedium : 1.25rem;
$fontSmallerLarge : 1.5rem;
$fontLarge : 2.0rem;
$fontBiggerLarge : 2.5rem;

// Padding
$paddingSmall : 5px;
$paddingMedium : 10px;
$paddingLarge : 20px;
$paddingExtraLarge : 30px;



// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=72i0u0klpljaLvXg7qBqJf+waaF */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #81A035; // Main Primary color */
$color-primary-1: #D9F09F;
$color-primary-2: #ABC863;
$color-primary-3: #5B7814;
$color-primary-4: #395000;

$color-secondary-1-0: #3F8E2F; // Main Secondary color (1) */
$color-secondary-1-1: #99D58D;
$color-secondary-1-2: #67B158;
$color-secondary-1-3: #216A12;
$color-secondary-1-4: #0C4700;

$color-secondary-2-0: #A43641; // Main Secondary color (2) */
$color-secondary-2-1: #F6A3AB;
$color-secondary-2-2: #CD6670;
$color-secondary-2-3: #7B141E;
$color-secondary-2-4: #520008;

$color-complement-0: #832B64; // Main Complement color */
$color-complement-1: #C583AE;
$color-complement-2: #A45187;
$color-complement-3: #621046;
$color-complement-4: #42002B;



// As RGBa codes */

$rgba-primary-0: rgba(129, 160, 53, 1); // Main Primary color */
$rgba-primary-1: rgba(217, 240, 159, 1);
$rgba-primary-2: rgba(171, 200, 99, 1);
$rgba-primary-3: rgba(91, 120, 20, 1);
$rgba-primary-4: rgba(57, 80, 0, 1);

$rgba-secondary-1-0: rgba(63, 142, 47, 1); // Main Secondary color (1) */
$rgba-secondary-1-1: rgba(153, 213, 141, 1);
$rgba-secondary-1-2: rgba(103, 177, 88, 1);
$rgba-secondary-1-3: rgba(33, 106, 18, 1);
$rgba-secondary-1-4: rgba(12, 71, 0, 1);

$rgba-secondary-2-0: rgba(164, 54, 65, 1); // Main Secondary color (2) */
$rgba-secondary-2-1: rgba(246, 163, 171, 1);
$rgba-secondary-2-2: rgba(205, 102, 112, 1);
$rgba-secondary-2-3: rgba(123, 20, 30, 1);
$rgba-secondary-2-4: rgba(82, 0, 8, 1);

$rgba-complement-0: rgba(131, 43, 100, 1); // Main Complement color */
$rgba-complement-1: rgba(197, 131, 174, 1);
$rgba-complement-2: rgba(164, 81, 135, 1);
$rgba-complement-3: rgba(98, 16, 70, 1);
$rgba-complement-4: rgba(66, 0, 43, 1);



// Generated by Paletton.com © 2002-2014 */
// http://paletton.com */