// CSS Variables

// Custom Color Variables
$ksBlack : rgb(17, 17, 17);
$ksDarkBlack : rgb(0, 0, 0);
$ksLightBlack : rgb(36, 36, 36);
$ksGray : rgb(85, 85, 85);
$ksDarkGray : rgb(65, 65, 65);
$ksLightGray : rgb(119, 119, 119);
$ksLightWhite : rgb(175, 175, 175);
$ksWhite : rgb(235, 235, 235);

// Primary Colors

$primaryColor1 : rgb(25, 106, 25);
$primaryColor2 : rgb(32, 0, 128);
$primaryColor3 : rgb(126, 128, 0);
$primaryColor4 : rgb(128, 55, 0);
$primaryColor5 : rgb(128, 0, 23);

// Media Queries Pixels Size
$widthMobile : 400px;
$widthTablet : 600px;
$widthNormalDesktop : 1200px;
$widthQuadDesktop : 1440px;
$widthUltraWideDesktop : 2000px;

// Responsive Grid Sizes
$responsiveSmallColumn : 15rem;
$responsiveMediumColumn : 18rem;
$responsiveLargeColumn : 22rem;



// Custom Sensehack Variables
$isSectionHidden : none;


// Constant Variables Mobile & Desktop
$responsiveMQImgWidth : 50%;
$responsiveMQColWidth : 50%;
$responsiveMQHeadingWidth : 40%;
$responsiveMQTextWidth : 40%;
$responsiveMQPaddingWidthY : 0%;
$responsiveMQPaddingWidthX : 40%;
$responsiveMQMarginWidth : 40%;
$responsiveMQGapWidth : 40%;






// Responsive Percents
$percentNone: 0%;
$percentSmall : 5%;
$percentMedium : 10%;
$percentLarge : 15%;
$percentExtraLarge : 20%;

// Pixel Constants
$pixelNone : 0px;
$pixelSmall : 5px;
$pixelMedium : 10px;
$pixelLarge : 15px;
$pixelExtraLarge : 20px;

// Font Size
$fontExtraSmaller : 0.25rem;
$fontSmall : 0.5rem;
$fontSmallerMedium : 0.75rem;
$fontMedium : 1.0rem;
$fontBiggerMedium : 1.25rem;
$fontSmallerLarge : 1.5rem;
$fontLarge : 2.0rem;
$fontBiggerLarge : 2.5rem;

// Padding
$paddingSmall : 5px;
$paddingMedium : 10px;
$paddingLarge : 20px;
$paddingExtraLarge : 30px;



head,
body {
    background: $ksLightGray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 12);
    grid-template-areas:
        "gHeader"
        "gIntro"
        "gIntro"
        "gAboutMe"
        "gWork"
        "gEdu"
        "gSkills"
        // Uncomment these areas when ready for production.
        // "gProjects"
        // "gHobbies"
        // "gContactUs"
        "gFooter";

    gap: $pixelMedium;
    margin: 0.5vh;
    place-self: center;
    text-align: center;

}

h2 {
    text-align: center;
    justify-items: center;
    grid-column: 1/4;
    grid-row: 1/1;
    padding: $paddingMedium;
}

.centerContent {
    place-self: center;
    text-align: center;
}

#hideMe {

    animation: hideAnimation 0s ease-in 3s forwards;
    animation-fill-mode: forwards;

}

@keyframes hideAnimation {
    to {

        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0.5;

    }
}


/* Global For Mobile */
@media only screen and (max-width: $widthMobile) {
    // $responsiveMQPaddingWidthY: 5% !global;
    // $responsiveMQPaddingWidthX: 10% !global;

    // $isSectionHidden: inline-block !global;
}

/* Global For Tablet */
@media only screen and (max-width: $widthTablet) {
    // $responsiveMQPaddingWidthY: 10% !global;
    // $responsiveMQPaddingWidthX: 20% !global;
}


.header {

    grid-area: gHeader;
    background: $ksLightGray;

    // margin: 0 $pixelLarge 0 $pixelLarge;
    padding: $pixelNone;
    // position: fixed;
    width: 100%;
    z-index: 150;

    ul {

        li {
            position: relative;
            display: inline-block;
            margin: $pixelNone;
            padding: $pixelSmall;

            a {
                color: $ksWhite;

                &:hover {
                    color: $ksDarkGray;
                }
            }
        }
    }

}

#intro {

    grid-area: gIntro;
    background: teal;

    .introH1 {
        padding: $pixelMedium;
        font-size: $fontLarge;
    }

    .introText {
        padding: $pixelMedium;
        font-size: $fontBiggerMedium;
    }

    .social {

        .ulSocial {


            margin: $pixelLarge;
            padding: $pixelNone;

            li {
                display: inline-block;
                margin: $pixelNone;
                padding: $pixelSmall;

                a {
                    color: $ksWhite;

                    &:hover {
                        color: $ksDarkGray;
                    }
                }
            }
        }
    }

}

#about-me {

    grid-area: gAboutMe;
    background: $ksGray;
    height: auto;

    h2 {
        color: red;
    }

    .about-me-grid {
        // Grid Nested Layout
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-template-rows: repeat(auto-fit, minmax(200px, auto));
        grid-template-areas:
            "aboutTxt aboutTxt aboutAvt"
            "aboutTxt aboutTxt aboutDetails";
        gap: $pixelMedium;

        // Old layout
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(2, 1fr);

        .aboutText {
            grid-area: aboutTxt;
            place-self: center;
            padding: $paddingExtraLarge;
            font-size: $fontBiggerMedium;
        }


        .aboutAvatar {

            display: block;
            grid-area: aboutAvt;
            padding: $paddingMedium;
            align-content: center;
            width: minmax(150px, 250px);

            img {
                width: 100%;
                border-radius: $pixelExtraLarge * 2;
            }

        }

        .details {

            grid-area: aboutDetails;
            display: grid;
            padding: $paddingMedium 0px $paddingMedium 0px;
            // text-align: start;
            align-content: center;


            span {
                display: inline-block;
                padding: $pixelMedium 0px $pixelMedium 0px;
            }

            .email {
                place-self: center;
            }

            .phone {
                place-self: center;
            }
        }

        /* For Tablet */
        @media only screen and (max-width: $widthTablet) {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "aboutTxt aboutTxt"
                "aboutAvt aboutDetails";
            width: 100%;
            color: yellow;

            .aboutAvatar {
                place-self: start;
            }

            .details {

                .email {
                    place-self: start;
                }

                .phone {
                    place-self: start;
                }

            }

        }

        /* For Mobile */
        @media only screen and (max-width: $widthMobile) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
                "aboutAvt"
                "aboutTxt"
                "aboutDetails";

            color: greenyellow;
            width: 100%;

            .aboutAvatar {

                img {
                    width: 80%;
                }

            }

            .details {

                .email {
                    place-self: center;
                }

                .phone {
                    place-self: center;
                }

            }
        }

    }

}

#work {
    grid-area: gWork;
    background: orangered;

    .workGrid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($responsiveMediumColumn, 1fr));

        .workHeader {
            padding: $pixelNone $pixelExtraLarge;
        }

        .workPosition {
            padding: $pixelSmall $pixelExtraLarge;
        }

        .workDescription {
            padding: $pixelLarge * 2;
        }

    }

}

#skills {
    grid-area: gSkills;
    background: orange;

}

#edu {
    grid-area: gEdu;
    background: brown;

    .eduGrid {
        display: grid;
        place-content: center;
        grid-template-columns: repeat(auto-fit, minmax($responsiveMediumColumn, 5fr));
        // grid-template-rows: repeat(auto-fit, auto);
        gap: $pixelMedium;



        h2 {
            padding-bottom: $pixelLarge;
        }

        .eduHeader {
            padding: $pixelNone $pixelExtraLarge;
        }

        .eduQualification {
            padding: $pixelSmall $pixelExtraLarge;
        }

        .eduDescription {
            padding: $pixelLarge * 2;
        }




    }

    .eduGrid3 {
        padding: $percentNone $percentLarge;

        .eduDescription {
            padding: $responsiveMQPaddingWidthY $responsiveMQPaddingWidthX;
        }



    }

}

#projects {
    grid-area: gProjects;
    background: yellow;
    display: $isSectionHidden;

}

#hobbies {
    grid-area: gHobbies;
    background: wheat;
    display: $isSectionHidden;


}

#contact-us {
    grid-area: gContactUs;
    background: yellowgreen;
    display: $isSectionHidden;

}

#footer {
    grid-area: gFooter;
    background: rebeccapurple;

}