head,
body {
  background: #777777;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (12)[1fr];
      grid-template-rows: repeat(1fr, 12);
      grid-template-areas: "gHeader" "gIntro" "gIntro" "gAboutMe" "gWork" "gSkills" "gEdu" "gProjects" "gHobbies" "gContactUs" "gFooter";
  gap: 10px;
  margin: 0.5vh;
  place-self: center;
  text-align: center;
}

h2 {
  text-align: center;
  justify-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1/1;
  padding: 10px;
}

.centerContent {
  place-self: center;
  text-align: center;
}

#hideMe {
  -webkit-animation: hideAnimation 0s ease-in 3s forwards;
          animation: hideAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hideAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0.5;
  }
}

@keyframes hideAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0.5;
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: gHeader;
  background: #777777;
  padding: 0px;
  width: 100%;
  z-index: 150;
}

.header ul li {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 5px;
}

.header ul li a {
  color: #ebebeb;
}

.header ul li a:hover {
  color: #414141;
}

.intro {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: gIntro;
  background: teal;
}

.intro .introH1 {
  padding: 10px;
  font-size: 2rem;
}

.intro .introText {
  padding: 10px;
  font-size: 1.25rem;
}

.intro .social .ulSocial {
  margin: 15px;
  padding: 0px;
}

.intro .social .ulSocial li {
  display: inline-block;
  margin: 0px;
  padding: 5px;
}

.intro .social .ulSocial li a {
  color: #ebebeb;
}

.intro .social .ulSocial li a:hover {
  color: #414141;
}

.about-me {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: gAboutMe;
  background: #555555;
  height: auto;
}

.about-me h2 {
  color: red;
}

.about-me .about-me-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  -ms-grid-rows: (minmax(200px, auto))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(200px, auto));
      grid-template-areas: "aboutTxt aboutTxt aboutAvt" "aboutTxt aboutTxt aboutDetails";
  gap: 10px;
  /* For Tablet */
  /* For Mobile */
}

.about-me .about-me-grid .aboutText {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: aboutTxt;
  place-self: center;
  padding: 30px;
  font-size: 1.25rem;
}

.about-me .about-me-grid .aboutAvatar {
  display: block;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: aboutAvt;
  padding: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  width: minmax(150px, 250px);
}

.about-me .about-me-grid .aboutAvatar img {
  width: 100%;
  border-radius: 40px;
}

.about-me .about-me-grid .details {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: aboutDetails;
  display: -ms-grid;
  display: grid;
  padding: 10px 0px 10px 0px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.about-me .about-me-grid .details span {
  display: inline-block;
  padding: 10px 0px 10px 0px;
}

.about-me .about-me-grid .details .email {
  place-self: center;
}

.about-me .about-me-grid .details .phone {
  place-self: center;
}

@media only screen and (max-width: 600px) {
  .about-me .about-me-grid {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "aboutTxt aboutTxt" "aboutAvt aboutDetails";
    width: 100%;
    color: yellow;
  }
  .about-me .about-me-grid .aboutAvatar {
    place-self: start;
  }
  .about-me .about-me-grid .details .email {
    place-self: start;
  }
  .about-me .about-me-grid .details .phone {
    place-self: start;
  }
}

@media only screen and (max-width: 400px) {
  .about-me .about-me-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "aboutAvt" "aboutTxt" "aboutDetails";
    color: greenyellow;
    width: 100%;
  }
  .about-me .about-me-grid .aboutAvatar img {
    width: 80%;
  }
  .about-me .about-me-grid .details .email {
    place-self: center;
  }
  .about-me .about-me-grid .details .phone {
    place-self: center;
  }
}

.work {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: gWork;
  background: orangered;
}

.work .workGrid {
  display: -ms-grid;
  display: grid;
}

.work .workGrid .workHeader {
  padding: 0px 20px;
}

.work .workGrid .workPosition {
  padding: 5px 20px;
}

.work .workGrid .workDescription {
  padding: 30px;
}

.skills {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: gSkills;
  background: orange;
}

.edu {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: gEdu;
  background: brown;
}

.edu .eduGrid {
  display: -ms-grid;
  display: grid;
}

.edu .eduGrid h2 {
  padding-bottom: 15px;
}

.edu .eduGrid .eduHeader {
  padding: 0px 20px;
}

.edu .eduGrid .eduQualification {
  padding: 5px 20px;
}

.edu .eduGrid .eduDescription {
  padding: 30px;
}

.projects {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: gProjects;
  background: yellow;
}

.hobbies {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: gHobbies;
  background: wheat;
}

.contact-us {
  -ms-grid-row: 10;
  -ms-grid-column: 1;
  grid-area: gContactUs;
  background: yellowgreen;
}

.footer {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: gFooter;
  background: rebeccapurple;
}
/*# sourceMappingURL=index.css.map */