// CSS Variables

// Color Variables
$ksBlack : rgb(17, 17, 17);
$ksDarkBlack : rgb(0, 0, 0);
$ksLightBlack : rgb(36, 36, 36);
$ksGray : rgb(85, 85, 85);
$ksDarkGray : rgb(65, 65, 65);
$ksLightGray : rgb(119, 119, 119);
$ksLightWhite : rgb(175, 175, 175);
$ksWhite : rgb(235, 235, 235);

// Media Queries Pixels Size
$widthMobile : 400px;
$widthTablet : 600px;
$widthNormalDesktop : 1200px;
$widthQuadDesktop : 1440px;
$widthUltraWideDesktop : 2000px;

// Pixel Constants
$pixelSmall : 5px;
$pixelMedium : 10px;
$pixelLarge : 15px;
$pixelExtraLarge : 20px;

// Font Size
$fontExtraSmaller : 0.25em;
$fontSmall : 0.5em;
$fontSmallerMedium : 0.75em;
$fontMedium : 1.0em;
$fontBiggerMedium : 1.25em;
$fontSmallerLarge : 1.5em;
$fontLarge : 2.0em;
$fontBiggerLarge : 2.5em;

// Padding
$paddingSmall : 5px;
$paddingMedium : 10px;
$paddingLarge : 20px;
$paddingExtraLarge : 30px;



head,
body {
    background: $ksLightGray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 12);
    grid-template-areas:
        "gHeader"
        "gIntro"
        "gIntro"
        "gAboutMe"
        "gWork"
        "gSkills"
        "gEdu"
        "gProjects"
        "gHobbies"
        "gContactUs"
        "gFooter";

    gap: $pixelMedium;
    margin: 0.5vh;
    place-self: center;
    text-align: center;

}

h2 {
    text-align: center;
    justify-items: center;
    grid-column: 1/4;
    grid-row: 1/1;
    padding: $paddingMedium;
}

.centerContent {
    place-self: center;
    text-align: center;
}


.header {

    grid-area: gHeader;
    background: teal;

}

.intro {

    grid-area: gIntro;
    background: teal;

}

.about-me {

    grid-area: gAboutMe;
    background: $ksGray;
    height: auto;

    h2 {
        color: red;
    }

    .about-me-grid {
        // Grid Nested Layout
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-template-rows: repeat(auto-fit, minmax(200px, auto));
        grid-template-areas:
            "aboutTxt aboutTxt aboutAvt"
            "aboutTxt aboutTxt aboutDetails";
        gap: $pixelMedium;

        // Old layout
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(2, 1fr);

        .aboutText {
            grid-area: aboutTxt;
            place-self: center;
            padding: $paddingExtraLarge;
            font-size: $fontSmallerLarge;
        }


        .aboutAvatar {

            display: block;
            grid-area: aboutAvt;
            padding: $paddingMedium;
            align-content: center;
            width: minmax(150px, 250px);

            img {
                width: 100%;
            }

        }

        .details {

            grid-area: aboutDetails;
            // place-self: center;
            padding: $paddingMedium;
            text-align: start;

            span {
                display: inline-block;
                padding: $pixelMedium 0px $pixelMedium 0px;
            }

            .email {
                place-self: center;
            }

            .phone {
                place-self: center;
            }
        }

        /* For Tablet */
        @media only screen and (max-width: $widthTablet) {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "aboutTxt aboutTxt"
                "aboutAvt aboutDetails";
            width: 100%;
            color: yellow;

            .aboutAvatar {
                place-self: start;
            }
        }

        /* For Mobile */
        @media only screen and (max-width: $widthMobile) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
                "aboutAvt"
                "aboutTxt"
                "aboutDetails";

            color: green;
            width: 100%;

            .aboutAvatar {

                img {
                    width: 80%;
                }

            }
        }

    }

}

.work {
    grid-area: gWork;
    background: orangered;

}

.skills {
    grid-area: gSkills;
    background: orange;

}

.edu {
    grid-area: gEdu;
    background: brown;

}

.projects {
    grid-area: gProjects;
    background: yellow;

}

.hobbies {
    grid-area: gHobbies;
    background: wheat;

}

.contact-us {
    grid-area: gContactUs;
    background: yellowgreen;

}

.footer {
    grid-area: gFooter;
    background: rebeccapurple;

}