head,
body {
    background: lightgrey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 12);
    grid-template-areas:
        "gHeader"
        "gIntro"
        "gIntro"
        "gAboutMe"
        "gWork"
        "gSkills"
        "gEdu"
        "gProjects"
        "gHobbies"
        "gContactUs"
        "gFooter";

    gap: 10px;
    margin: 0.5vh;
    /* justify-content: center; */
    /* place-content: center; */
    place-self: center;
    text-align: center;

}

h2 {
    text-align: center;
    justify-items: center;
    // color: red;
    grid-column: 1/4;
    grid-row: 1/1;
}

.centerContent {
    place-self: center;
    text-align: center;
}


.header {
    grid-area: gHeader;
    background: teal;
    width: 80%;
    /* place-self: center;
    text-align: center; */

}

.intro {
    grid-area: gIntro;
    background: teal;

}

.about-me {
    grid-area: gAboutMe;
    background: gray;
    height: auto;

    h2 {
        color: red;
    }

    .about-me-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        grid-template-rows: repeat(auto-fit, minmax(200px, auto));

        gap: 10px;
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "aboutTxt aboutTxt aboutAvt"
            "aboutTxt aboutTxt aboutDtls";




        .aboutText {
            // width: minmax();
            max-width: 2fr;
            grid-area: aboutTxt;
            place-self: center;
            padding: 10px;
            // grid-column: 1/3;
            // grid-row: 1/4
        }


        .aboutAvatar {
            display: block;
            grid-area: aboutAvt;
            // place-self: center;

            // height: 150px;
            // width: 150px;
            padding: 10px;
            align-content: center;

            img {
                width: 100%;
            }

        }

        .details {

            grid-area: aboutDtls;
            place-self: center;
            // width: 50%;
            // margin: 0 auto;
            // height: 1vh;


            .email {
                place-self: center;
            }

            .phone {
                place-self: center;
            }

        }

        /* For Tablet */
        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "aboutTxt aboutTxt"
                "aboutAvt aboutDtls";
            width: 100%;
            color: yellow;

            .aboutAvatar {
                place-self: start;
            }

        }

        /* For Mobile */
        @media only screen and (max-width: 400px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            grid-template-areas:
                "aboutTxt"
                "aboutAvt"
                "aboutDtls";

            color: green;
            width: 100%;

            // .aboutAvatar {
            //     // place-self: start;
            // }

        }


    }

}

.work {
    grid-area: gWork;
    background: orangered;

}

.skills {
    grid-area: gSkills;
    background: orange;

}

.edu {
    grid-area: gEdu;
    background: brown;

}

.projects {
    grid-area: gProjects;
    background: yellow;

}

.hobbies {
    grid-area: gHobbies;
    background: wheat;

}

.contact-us {
    grid-area: gContactUs;
    background: yellowgreen;

}

.footer {
    grid-area: gFooter;
    background: rebeccapurple;

}