<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Home
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- <ion-slides mode="ios" pager="ios" scrollbar="ios"> -->
	<ion-slides>
		<ion-slide>
			<h1>Awesome Slide Content</h1>
			<img
				src="https://www.14news.com/resizer/TlKn9uViJIK9b_eZk9i36jCP-X4=/1200x600/arc-anglerfish-arc2-prod-raycom.s3.amazonaws.com/public/22NZVG3KKNFQJB4EMUH7JRISXA.png"
			/>
		</ion-slide>
		<ion-slide>
			<h1>Slide 1</h1>
			<img
				src="https://www.14news.com/resizer/TlKn9uViJIK9b_eZk9i36jCP-X4=/1200x600/arc-anglerfish-arc2-prod-raycom.s3.amazonaws.com/public/22NZVG3KKNFQJB4EMUH7JRISXA.png"
			/>
		</ion-slide>
		<ion-slide>
			<h1>Slide 2</h1>
			<img
				src="https://www.14news.com/resizer/TlKn9uViJIK9b_eZk9i36jCP-X4=/1200x600/arc-anglerfish-arc2-prod-raycom.s3.amazonaws.com/public/22NZVG3KKNFQJB4EMUH7JRISXA.png"
			/>
		</ion-slide>
		<ion-slide>
			<h1>Slide 3</h1>
			<img
				src="https://www.14news.com/resizer/TlKn9uViJIK9b_eZk9i36jCP-X4=/1200x600/arc-anglerfish-arc2-prod-raycom.s3.amazonaws.com/public/22NZVG3KKNFQJB4EMUH7JRISXA.png"
			/>
		</ion-slide>
	</ion-slides>
	<ion-button (click)="goToSlide()" [disabled]="!isEnabled">
		Next
	</ion-button>
</ion-content>
